node-red-flows.json
[
    {
        "id": "7fa209eba6f7993b",
        "type": "tab",
        "label": "FYP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be0a1c0142af506c",
        "type": "mqtt in",
        "z": "7fa209eba6f7993b",
        "name": "",
        "topic": "fyp/heart_rate",
        "qos": "2",
        "datatype": "auto",
        "broker": "ca132b84d555d5b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "3335db15dce90613",
                "210c2af8fc8f1d8c",
                "4593495d7a9f53be"
            ]
        ]
    },
    {
        "id": "3335db15dce90613",
        "type": "ui_gauge",
        "z": "7fa209eba6f7993b",
        "name": "",
        "group": "ccb93ea9e2e3f4be",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Heart Rate",
        "label": "bpm",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#a700b3",
            "#cb00e6",
            "#653ac8"
        ],
        "seg1": "",
        "seg2": "",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "210c2af8fc8f1d8c",
        "type": "debug",
        "z": "7fa209eba6f7993b",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "c8735adcbaf8a357",
        "type": "mqtt in",
        "z": "7fa209eba6f7993b",
        "name": "",
        "topic": "fyp/spo2",
        "qos": "2",
        "datatype": "auto",
        "broker": "ca132b84d555d5b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "db08c16650515712",
                "2d729c7a976b0806",
                "4593495d7a9f53be"
            ]
        ]
    },
    {
        "id": "db08c16650515712",
        "type": "ui_gauge",
        "z": "7fa209eba6f7993b",
        "name": "",
        "group": "ccb93ea9e2e3f4be",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SpO2",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#a700b3",
            "#cb00e6",
            "#653ac8"
        ],
        "seg1": "",
        "seg2": "",
        "x": 350,
        "y": 380,
        "wires": []
    },
    {
        "id": "2d729c7a976b0806",
        "type": "debug",
        "z": "7fa209eba6f7993b",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 320,
        "wires": []
    },
    {
        "id": "6d17a8dfe6472702",
        "type": "mqtt in",
        "z": "7fa209eba6f7993b",
        "name": "",
        "topic": "fyp/ecg",
        "qos": "2",
        "datatype": "auto",
        "broker": "ca132b84d555d5b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 560,
        "wires": [
            [
                "22b8e0de69c12b51",
                "947937c768a9f810",
                "4c42fb308e2e9e5b",
                "4593495d7a9f53be"
            ]
        ]
    },
    {
        "id": "4c42fb308e2e9e5b",
        "type": "debug",
        "z": "7fa209eba6f7993b",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 520,
        "wires": []
    },
    {
        "id": "947937c768a9f810",
        "type": "ui_chart",
        "z": "7fa209eba6f7993b",
        "name": "",
        "group": "d255fe19417c132f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "ECG",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#bbd0ec",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 330,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "22b8e0de69c12b51",
        "type": "ui_text",
        "z": "7fa209eba6f7993b",
        "group": "d255fe19417c132f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ECG value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 350,
        "y": 640,
        "wires": []
    },
    {
        "id": "cf2a65868c56123d",
        "type": "mysql",
        "z": "7fa209eba6f7993b",
        "mydb": "7a54ddab34856632",
        "name": "",
        "x": 780,
        "y": 380,
        "wires": [
            [
                "8e69e1eabf05ac89"
            ]
        ]
    },
    {
        "id": "8e69e1eabf05ac89",
        "type": "debug",
        "z": "7fa209eba6f7993b",
        "name": "debug db",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 380,
        "wires": []
    },
    {
        "id": "4593495d7a9f53be",
        "type": "function",
        "z": "7fa209eba6f7993b",
        "name": "extract all data",
        "func": "var topic = msg.topic;\nvar payload = msg.payload.replace(/[^0-9.]/g, '');\nvar value = parseFloat(payload);\n\nif (isNaN(value)) {\n    node.error(\"Invalid value: \" + payload, msg);\n    return null;\n}\n\n// Store the value in context based on the topic\nif (topic === \"fyp/heart_rate\") {\n    value = Math.round(value);\n    context.set(\"heart_rate\", value);\n} else if (topic === \"fyp/spo2\") {\n    context.set(\"spo2\", value);\n} else if (topic === \"fyp/ecg\") {\n    context.set(\"ecg\", value);\n}\n\n// Check if all values are available\nvar heart_rate = context.get(\"heart_rate\");\nvar spo2 = context.get(\"spo2\");\nvar ecg = context.get(\"ecg\");\n\nif (typeof heart_rate !== 'undefined' && typeof spo2 !== 'undefined' && typeof ecg !== 'undefined') {\n    // All values are available, construct the SQL query\n    msg.topic = \"INSERT INTO raw_health_records (heart_rate, spo2, ecg) VALUES (\" + heart_rate + \", \" + spo2 + \", \" + ecg + \")\";\n    // Clear the stored values\n    context.set(\"heart_rate\", undefined);\n    context.set(\"spo2\", undefined);\n    context.set(\"ecg\", undefined);\n    return msg;\n} else {\n    // Values are not complete yet, do not send the message further\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 380,
        "wires": [
            [
                "cf2a65868c56123d"
            ]
        ]
    },
    {
        "id": "ca132b84d555d5b8",
        "type": "mqtt-broker",
        "name": "EMQ",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ccb93ea9e2e3f4be",
        "type": "ui_group",
        "name": "MAX30100 sensor",
        "tab": "194676cd0f5b5d4d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d255fe19417c132f",
        "type": "ui_group",
        "name": "AD8232 sensor",
        "tab": "194676cd0f5b5d4d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7a54ddab34856632",
        "type": "MySQLdatabase",
        "name": "database",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "fyp",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "194676cd0f5b5d4d",
        "type": "ui_tab",
        "name": "Patient health monitoring system",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]